# === JAVA ===
*.class
*.jar
*.war
*.log

# IntelliJ
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
env/
venv/

# === SISTEMA / EDITOR ===
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# === TESTES E DADOS TEMPORÁRIOS ===
*.log
*.tmp
*.bak

# === OUTROS ===
*.zip
*.tar.gz
*.7z
*.sqlite
