# === JAVA ===
*.class
*.jar
*.war
*.log

# IntelliJ / Eclipse / NetBeans
.idea/
*.iml
*.ipr
*.iws
*.nbproject/
*.project
*.classpath
target/
bin/

# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
env/
venv/

# === SISTEMA / EDITOR ===
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# === TESTES E DADOS TEMPORÁRIOS ===
*.log
*.tmp
*.bak

# === OUTROS ===
*.zip
*.tar.gz
*.7z
*.sqlite
